a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a.nav-link:hover {
    background-color: #f3eae8;
}

html {
  font-size: 15px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#dropdown_menu {
    margin-left: -60px;
}


.dropdown {
    width: 60px;
}

#add_game_button {
    position: relative;
    right: 400%;
    top:25px;
    color:white;
    cursor:pointer;
}

    #add_game_button:hover {
        color: #555896;
    }

#upload_gameimage_button {
    position: relative;
    right: 340%;
    top: -15px;
    color: white;
    cursor: pointer;
}

#upload_gameimage_button:hover {
    color: #555896;
}




.discover_games{
   
    position:relative;
    right:180%;
    top:18px;
}
.discover_games :hover {
    background-color:black;
}

@media (max-width: 991px) {
    html {
        font-size: 16px;
    }

    #dropdown_menu {
        margin-left: 0px;
    }

    #add_game_button {
      
        left: 10px;
        top:0px;
        width:80px;
    }

    #upload_gameimage_button {
       
        top: -13px;
        left: 10px;
    }

    .discover_games {
           top:-10px;
        left:-13px;
        
    }

}
