a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a.nav-link:hover {
    background-color: #f3eae8;
}

html {
    height:100%;
  font-size: 15px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#dropdown_menu {
    margin-left: -60px;
}


.dropdown {
    width: 60px;
}

.nav_buttons{
display:flex;
position:relative;
right:150%;

}

#add_game_button {
    margin: 10px;
    color: white;
    cursor: pointer;
}

    #add_game_button:hover {
        color: #555896;
    }

#upload_game_data_button {
 
    margin:10px;
    color: white;
    cursor: pointer;
}

#upload_game_data_button:hover {
    color: #555896;
}




.discover_games {
    margin: 10px;
    position: relative;
    top: -6px;
}
.discover_games :hover {
    background-color:black;
}

@media (max-width: 991px) {
    html {
        font-size: 16px;
    }

    #dropdown_menu {
        margin-left: 0px;
    }

    .nav_buttons {
       flex-direction:column;
        right: 0%;
    }

}
