a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a.nav-link:hover {
    color: #555896;
}

html {
    height:100%;
  font-size: 15px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#dropdownMenu {
    margin-left: -60px;
}

.dropdown-menu {
    
   
    animation: scaleZ 1000ms ease-in-out forwards;
}
@keyframes scaleZ {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    80% {
        transform: scale(1.07);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

    .nav_buttons {
        display: flex;
        position: relative;
        right: 100%;
    }

    #add_game_button {
        margin: 10px;
        color: white;
        cursor: pointer;
    }

    #add_game_button:hover {
        color: #555896;
    }

    #upload_game_data_button {
        margin: 10px;
        color: white;
        cursor: pointer;
    }

    #upload_game_data_button:hover {
        color: #555896;
    }




    .discover_games {
        margin: 10px;
        color: white;
        cursor: pointer;
    }

    .discover_games :hover {
        color: #555896;
    }

    @media (max-width: 991px) {
        html {
        font-size: 16px;
    }

    .nav_buttons {
        
        right: 0%;
    }

}
@media (max-width: 600px) {
    #dropdownMenu {
        width:250px;
        margin-left: 0px;

    }

    .nav_buttons {
        flex-direction: column;
        right: 0%;
    }
  
}

