.ListOfGame {
    background-color: #161934;
    width:100%;
    height:200px;
    cursor: pointer;
    margin:10px;
}

    .ListOfGame:hover {
        background-color: #32355f;
    }

.GameImage{
    width:150px;
    height:150px;
margin:25px;
}

.div_gamename{

    width:200px;
   
}

.gamename_text {
   
    font-size:20px;
   
    color:white;
   position:relative;
    top:-150px;
   left:200px;
}

.key_text{
    position:relative;
    float:right;
    margin:50px;
    font-size:18px;
    color:white;
top:-250px;
}

.searchbar {
    position: relative;
    background-color: #1dc57e;
    left: 77.2%;
    top: -50px;
    border-radius:5px;
    width:230px;
}

.copy_icon {
    width: 25px; 
     height: 25px;
     margin: 10px;
}

@media (max-width:991px) {
  
    .UserGames{

        display:flex;
        flex-direction:column;
        justify-content:center;

    }
    .ListOfGame {
        width:70%;
        height: 400px;
        margin: 10px auto;
    }

    .GameImage {
        margin: 40px;
        width: 150px;
        height: 150px;
    }
    
    .div_gamename {
        width: auto;
    }

    .gamename_text {
        position:initial;
        font-size: 15px;
        margin:30px;
       
    }

    .key_text {
        
        float: none;
        font-size: 15px;
        left: -15px;
        top: 0px;
    }

    .searchbar {
       
        left: 30%;
        top: -40px;
        width:230px;
    }
 
    .copy_icon{
        position:initial;
        
    }
}