footer {
 
    background-color: #2a2a2a;
    height: 200px;
    width: 180vh;
    

    margin-top:350px;
}

.footer_text{
    color:white;
    margin:10px;
   padding:10px;
}

.footer_logo{
position:relative;
width:100px;
height:100px;
top:-18vh;
right:20px;
float:right;
}

@media(max-width:991px)
{
    .footer_text {
        
        height:100px;
        font-size: 15px;
        
    }

    footer {
        height:0px;
        margin-top:0px;
        position:relative;
        top:13vh;
        width: 100vh;
    }

    .footer_logo {
        float:none;
       left:50%;
        top:-10vh;
    }


}

