footer {
    position: relative;
    background-color: #2a2a2a;
    height: 200px;
    width: 200vh;
    top: 70vh;
    right: 60px;
}

.footer_text{
    color:white;
    font-size:15px;
    position:relative;
    right:85%;
    top:10px;
}

.footer_logo{
position:relative;
width:100px;
height:100px;
top:-25vh;
}

@media(max-width:991px)
{
    .footer_text {
        
        font-size: 15px;
        
        right: 45%;
        top: 20px;
    }

    footer {
        width: 100vh;
        top: 0vh;
        right: 0px;
        top: 500vh;
    }

    .footer_logo {
        
      left:15%;
        top: 0vh;
    }


}

