/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    background-color: #1c1c1c;
}

footer {
    position:absolute;
    background-color: #2a2a2a;
    height:200px;
    top:130%;
    left:10px;
}

@media(max-width:991px)
{
    footer {
        
top:530%;
height: 150px;
       
    }
}