/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    background-color: #1c1c1c;
    font-size:16px;
}

footer {
    position: absolute;
    background-color: #2a2a2a;
    height: 150px;
    width: 99%;
    top: 130%;
    left: 10px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: #624470;
    border-radius: 4px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #3b2f52;
    }

@media(max-width:991px)
{
    footer {
        
top:570%;
height: 150px;
       
    }
}