.div_signin {
    background-image: url("../public_files/Background_image.jpg") ;
    width: 150%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    right:125px;
    top:-14px;

    display:flex;
    justify-content:center;
}

.modal_signin {

    background-color: #36393f;    
    width: 500px;
    height: 400px;


    position: relative;
    top: 100px;
    right: 10%;

    border-radius:10px;
}


.signin_button {
    width: 90%;
    height: 50px;
    background-color: #7289da;
    border-radius: 5px;
    
    margin-top: 20px;
    margin-left: 20px;
    
    outline: none;
    border:none;
    color:white;

}
.signup_button:focus {
    outline: none;
}

@media(max-width:991px)
{
    .div_signin {
       
      
        right: 150px;
       
    }

    .modal_signin {
        width: 350px;
        height: 400px;
       right:0%;

        
        top: 50px
    }


}

@media (max-width: 600px) {

    .modal_signin {
       
        left: 12%;
       
    }
  
}