
.Cards {
   
    width: 300px;
    margin: 10px;
    display: inline-block;

}

.card_image {
    
    width: 280px;
    height: 200px;
    cursor: pointer;

}

.card_body {

    width: 281px;
    height: 65px;
    background-color: #18132e;
    border-radius: 2px;
    cursor:pointer;
}

.card_price{
    color:white;

    margin-left:85%;
}

.text_discover_games {
    color: white;
    font-size: 25px;
}

.searchbar {
    position: relative;
    
    left: 30%;
    top: -80px;
    
    width: 300px;
}
    .searchbar input {
        border-radius: 5px;
        width: 35px;
        height: 34.6px;
        transition: 0.8s;
    }
    .searchbar button {
        transition: 0.8s;
        transform: translateX(-12px);
        background-color: #0081a2;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        outline: none;
        border: none;
    }



    .searchbar input:focus {
        border:1px solid #2196f3;
    }
        .searchbar input:focus ~ button {
            transform: translateX(0px);
        }
    

        .sort_elements {
            position: relative;
            top: -50px;
            left: 81%;
            border-radius: 5px;
            cursor: pointer;
            background-color: #282845;
            color: white;
            height: 30px;
            border: none;
            outline: none;
        }

    
    .sort_elements:focus {
        outline: none;
    }

.page_navigation{

   margin-left:35%;
}

@media(max-width:991px) {
    .Cards {
       
        margin: 20px;
       
    }

    .card_body {
        width: 281px;
        
    }

    .text_discover_games {
        
        font-size: 18px;
    }

    .searchbar {
       
        left: 0%;
        top: -40px;
           
    }

    .sort_elements {
       
        top:40px;
        left: 0%;
       
    }

}
