.Cards {
    width: 300px;
    margin: 10px ;
 display:inline-block;

}

#card_image {
    width: 200%;
    height: 35vh;
    cursor: pointer;
    
}

.card_body {
    width: 281px;
    height: 65px;
    background-color: #18132e;
    border-radius: 2px;
}
.card_price{
    color:white;

    margin-left:85%;
}
.text_discover_games {
    color: white;
    font-size: 25px;
}

.searchbar {
    position: absolute;
    background-color: #1dc57e;
    left: 30%;
    top: 100px;
    border-radius: 5px;
    width:230px;
}

.sort_elements {
    position: absolute;
    top: 15.5%;
    left: 81%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #282845;
    color: white;
    height: 30px;
    border: none;
    outline: none;

}

    
    .sort_elements:focus {
        outline: none;
    }

.page_navigation{

    position:relative;
    top:60px;
    
}

@media(max-width:991px) {
    .Cards {
       
        margin: 20px;
       
    }

    .card_body {
        width: 281px;
        
    }

    .text_discover_games {
        
        font-size: 18px;
    }

    .searchbar {
        position:relative;
        left: 0%;
        top: -40px;
           
    }

    .sort_elements {
       
        position:relative;
        top:20px;
        left: 0%;
       
    }

}
