.div_signup {
    background-image: url("../public_files/Background_image.jpg");
    width: 150%;
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    right: 125px;
    top: -14px;
    display:flex;
    justify-content:center;
}

.modal_signup {

    background-color: #36393f;    
    width: 500px;
    height: 570px;


    position: relative;
    top: 100px;
     right:10%;
    
     border-radius:10px;
}


.signup_button {
    width: 90%;
    height: 50px;
    background-color: #7289da;
    border-radius: 5px;
    
    margin-top: 15px;
    margin-left: 20px;
    
    outline: none;
    border:none;
    color:white;

}
.signup_button:focus {
    outline: none;
}

@media(max-width:991px) {

    .div_signup{
        right:150px;
    }
    .modal_signup {
      
        width: 350px;
        height:570px;
        top: 50px ;
        right:0%;
    }

}

@media (max-width: 600px) {

    .modal_signup {
        left: 12%;
    }
}