.modal_signup {

    background-color: #36393f;    
    width: 30%;
    height: 93%;


    position: absolute;
    top: 100px;
    left: 35%;

    border-radius:10px;
}

.background_image {
    
    margin-top:-20px;
    width:122%;
    margin-left:-11.2%;
    
}

.signup_button {
    width: 90%;
    height: 50px;
    background-color: #7289da;
    border-radius: 5px;
    
    margin-top: 15px;
    margin-left: 20px;
    
    outline: none;
    border:none;
    color:white;

}
.signup_button:focus {
    outline: none;
}

@media(max-width:991px) {

    .modal_signup {
       
        width: 70%;
        
        top: 100px;
        left: 15%;
        
    }

    .background_image {
        margin-top: -18px;
        width: 180%;
        margin-left: -77%;
        height: 100vh;
    }
}