.commentary_div {
    display:flex;
    flex-direction:column;
    position: relative;
    top: 5vh;
    left: 20%;
}

.commentary_user_icon {
    width: 80px;
    height: 80px;
    position: relative;
    right: 100px;
   top:60px;
   
}

.commentary_field {
    width: 60%;
    height: 100px;
    border-radius: 15px;
    
}
.commentary_field::placeholder{
    padding:5px;
}

.button_comment {
    border: none;
    outline: none;
    width:150px;
    height: 70px;
    background-color: #127073;
    border-radius: 15px;
    
    position: relative;
    top: -90px;
    left: 62%;
}

    .button_comment :focus {
        outline: none;
    }



.warning_commentary {
    width: 40%;
    height: 60px;
    background-color: #e2d2ff;
    border-radius:5px;
   
}

.nav_link {
    display:inline-block;
    width: 20%;
}

.delete_button{
    position:relative;
    cursor:pointer;
  left:50%;
  top:-140px;

  width:25px;
    height:25px;
}

.edit_button{
    cursor:pointer;
    position:relative;
    width:25px;
    height:25px;
    top:-114px;
   right:5%;
}

.update_comment_button{
    cursor:pointer;
    position:relative;
    width:25px;
    height:25px;
    top:-18vh;
    right:6%;
}

@media (max-width:991px) {

    .commentary_div {
      
        position: relative;
        top: -30vh;
        left:0px;
    }

    .user_commentary {
        margin: 10px;
    }
    
    .commentary_field {
       
        width: 60%;
        height: 100px;
        border-radius: 15px;
        position:relative;
        left:30px;
    }
    .button_comment {
       
        width: 15vh;
        height: 100px;
       position:relative;
        top: -100px;
        left:72%; 
    }
    .commentary_user_icon {
        width: 70px;
        height: 70px;
       position:initial;
       
       
    }

    .commentary_username {
        position: relative;
        left: 80px;
        top: -40px;
        width:200px;
    }

    .warning_commentary {
        width: 70%;
        height: 10vh;
       margin:10px;
    }

    .nav_link {
       
        width: 50%;
    }

   
}