.purchase_div{
    position:relative;
}
.custom_tag {
    max-width: 100%;
    height: 300px;
   
    border-radius: 20px;
}

.Carousel {
    width: 100%;
   
    bottom:150px;
}

.Carousel_image {
    width: 100%;
    cursor: pointer;
}

.NameofGame{
    font-size:25px;
    color:white;
}

.DescriptionStyle{
    margin-top:20px;
    color:white;
}

.GameInfo{
    width:50%;

}

.BuyGame{
    position:absolute;
    left:65%;
   
    top:25%;
}

.CoverStyle{
   
    width:100%;
    height:150px;

}

@media (max-width: 991px){
    

    .BuyGame {
        position: relative;
        width:200px;
        top: -109vh;
    }

    .CoverStyle {
        position:relative;
       top:-10vh;
    }
}