.purchase_div{
    position:relative;
}

.custom_tag {
    max-width: 100%;
    height: 300px;
   
    border-radius: 20px;
}

.Carousel {
    width: 100%;
   
    bottom:150px;
}

.Carousel_image {
    width: 100%;
    cursor: pointer;
}

.NameofGame{
    font-size:25px;
    color:white;
}

.DescriptionStyle{
    margin-top:20px;
    color:white;
}

.GameInfo{
    width:50%;

}

.BuyGame{
    position:relative;
    left:65%;
   width:300px;
    top:-71vh;
}

.CoverStyle{
   
    width:100%;
    height:150px;

}



@media (max-width: 991px) {
    .BuyGame {
        
        width:200px;
        
    }

    .CoverStyle {
        
       top:0vh;
    }

    .custom_tag {
        
        height: 100px;
       
    }
}