.purchase_div{

   display:flex;
   
}

.Carousel_parameters {
    max-width: 100%;
    height: 300px;
    border-radius: 20px;
}

.GameInfo{
    width:70%;
}

.BuyGame{
    margin:150px;
   width:300px;
  
}

.CoverStyle{
   
    width:100%;
    height:150px;

}



@media (max-width: 991px) {  
    
    .purchase_div {
        flex-direction:column;
    }


    .Carousel_parameters {
        height: 300px;
    }


    .BuyGame {
        position:relative;
        top:50px;
        margin:0px;
        width: 200px;
        height:550px;
    }

    .GameInfo {
        width: 100%;
        height:100%;
    }

}