.settings_nav_menu {
    background-color: white;
    width: 25%;
    height: 25vh;
    position: relative;
    border-radius:5px;
    top:10vh;
}

.settings_nav_menu_list
{
    position:relative;
    top:20px;
    margin:15px;
    font-size:18px;
    cursor:pointer;
}

    .settings_nav_menu_list:hover {
        background-color: #b35a66;
        border-radius: 5px;
    }
   

.div_account_settings {
    background-color: white;
    width: 50%;
    height: 50vh;
    border-radius:5px;
    position: relative;
    top: -20vh;
    left: 40%;
}

.div_security_settings {
    background-color: white;
    width: 50%;
    height: 62vh;
    border-radius: 5px;
    position: relative;
    top: -20vh;
    left: 40%;
}

.div_billing_settings {
    background-color: white;
    width: 50%;
    height: 52vh;
    border-radius: 5px;
    position: relative;
    top: -20vh;
    left: 40%;
}

#expire_year {
    width: 15%;
    position:relative;
     top:-5.2vh;
    left: 20%;
}
@media (max-width: 991px) {

    .div_account_settings {
       
        top: -25vh;
       
    }

    .div_security_settings {
      
       
        top: -25vh;
      
    }

    .div_billing_settings {
       
        top: -25vh;
      
    }
    .settings_nav_menu {
       
        width: 30%;
        height: 35vh;
       
    }
}