.text_allgames {
    color: white;
    cursor: pointer;
    height: 50px;
    font-size: 25px;
}

    .text_allgames:hover {

        color: #156e8f;
    }

@media(max-width:991px) {



    .text_allgames {
      
        font-size: 15px;
        height: 30px;
    }
}
