.custom_tag {
    max-width: 100%;
    height: 300px;
    /*background: black;*/
    border-radius:20px;
}

.Carousel{

    width:50%;
    position:absolute;
    left:25%;
}

.Carousel_image{

    width:100%;
    cursor:pointer;
}

.Cards{
    margin-top:400px;
    margin-left:10px;
   
    width:30px;
    float:left;

   margin-right:180px;
   
    }

#card_image{
    width:125%;
    height:35vh;
    cursor:pointer;
}
