.Carousel_parameters{
    max-width: 100%;
    height: 300px;
    border-radius:20px;
}

.Carousel{

    width:50%;
    position:relative;
    left:25%;
}

.Carousel_image{

    width:100%;

    cursor:pointer;
}


@media(max-width:600px) {
    
    .Carousel_parameters {
      
        height: auto;
       
    }

    .Carousel_image {
        width: 100%;
        height: 40vh;
    }

    .Carousel {
        position:initial;
        width: 100%;
       
    }
}