.card_new_game {
    cursor: pointer;
    display:flex;
  
}

    .card_new_game :hover {
        background-color: #877677;
        border-radius: 6px;
    }

.card_body {
    width: 14.2rem;
    
}

.Cards {
    width: 200px;
    height: 230px;
    margin: 10px;
  
}


.card_image {
    width: 200px;
    height: 200px;
    cursor: pointer;
}


@media(max-width:991px) {


    .card_new_game {
        width: 10px;
        
        flex-direction: column;
        align-items: center;
    }

    .card_body {
        width: 21.4rem;
    }


    .Cards {
     
        width: 0px;
        margin: 0px;
        height: 360px;
    }

    .card_image {
        width: 300px;
        height: 300px;
    }

}