.custom_tag {
    max-width: 100%;
    height: 300px;
    /*background: black;*/
    border-radius:20px;
}

.Carousel{

    width:50%;
    position:absolute;
    left:25%;
}

.Carousel_image{

    width:100%;
    
}
